
<ion-content class="recuperar-password-page">
  <div class="recuperar-container">
    <h1 class="recuperar-title">Restablecer Contraseña</h1>
    <p class="recuperar-subtitle">Ingresa tu correo y te enviaremos instrucciones.</p>

    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="correo" type="email" placeholder="Correo Electrónico"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="recuperarPassword()" class="recuperar-button">
          Enviar Instrucciones
        </ion-button>
      </ion-card-content>
    </ion-card>

    <ion-button fill="clear" (click)="volverLogin()">Volver al Login</ion-button>
  </div>
</ion-content>
